<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>ICM Performance</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="css/chartStyle.css" th:href="@{css/chartStyle.css}" rel="stylesheet" />
        <link href="css/ekkoNav.css" th:href="@{css/ekkoNav.css}" rel="stylesheet" />
        <link href="css/pikaday.css" th:href="@{css/pikaday.css}" rel="stylesheet" />

        <style>
            img{
                margin-bottom: 10px;            
            }
            .table td {
                text-align: center;   
            }
            .table thead th{
                text-align:center;
            }
            h3{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Prime Diagnostics</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div>
                        <ul class="nav navbar-nav">
                            <li style="padding-top:14px;" class="active"><input  placeholder="Chart Date" class="date" type="text" id="datepicker"/></li>
                            <li style="padding-top:12px; padding-left:5px;" class="active"><button  type="button" id="submit" class="btn btn-success btn-sm">Submit</button></li>  
                            <li style="padding-top:12px; padding-left:5px;"><button  type="button" id="errors" class="btn btn-danger btn-sm">Errors</button></li>  
                            <li style="padding-top:12px; padding-left:5px;"><button  type="button" id="top5" class="btn btn-info btn-sm">Top-5 Size</button></li> 
                        </ul>
                    </div>
                    <ul id="right-nav" class="nav navbar-nav navbar-right">
                        <li><a href="/Charts/hour" target="_blank">Hourly</a></li>
                        <li style="padding-top:13px;"  class="active">Time Frame &nbsp;<input id="range" type="checkbox" value="true" name="range"></input></li>                     

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div id="error-row" class="row">
                <div  style="padding-top:10px;" id="errors-list">   
                    <table class="table table-hover table-bordered"  style="display:none; background-color:rgba(255, 230, 230,0.4); margin-top: 80px;"  id="table-append">
                        <thead>
                            <tr>
                                <th>Transaction</th>
                                <th>Error Count</th>
                            </tr>
                        </thead>
                        <tbody>             
                        </tbody>
                    </table>
                </div>
            </div>              
        </div>
        <div class="container">
            <div id="top5-row" class="row">
                <div  style="padding-top:10px;" id="top-list">   
                    <table class="table table-hover table-bordered"  style="display:none; background-color:rgba(230, 247, 255, 0.4); margin-top: 80px;"  id="tableTop-append">
                        <thead>
                            <tr>
                                <th>System</th>
                                <th>Operation</th>
                                <th>Result Size(b)</th>
                                <th>Total Time(ms)</th>
                                <th>Main App Time(ms)</th>
                                <th>Backend Time(ms)</th>
                            </tr>
                        </thead>
                        <tbody>             
                        </tbody>
                    </table>
                </div>
            </div>              
        </div>
        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>All Transactions
                        </h2>

                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>

                        <div class='col-sm-4 portfolio-item'>
                            <a th:id='1' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[0]}' class='img-responsive'/>
                            </a>
                        </div>
                        <!--                                                <div class='col-sm-4 portfolio-item'>
                                                                            <a th:id='2' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                                                                <img th:src='${all[1]}' class='img-responsive'/>
                                                                            </a>
                                                                        </div>-->
                        <div class='col-sm-4 portfolio-item'>
                            <a th:id='2' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[1]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-4 portfolio-item'>
                            <a th:id='3' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[2]}' class='img-responsive'/>
                            </a>
                        </div>

                        <br />
                        <br />

                        <h3 style='padding-top:50px'> Average Response Times  <button  type="button" id="underX" class="btn btn-info btn-sm">More Detail</button> </h3>

                        <table  class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Source System</th>
                                    <th>Total Time(sec)</th>
                                    <th>Main(sec)</th>
                                    <th>Backend(sec)</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:each="instance : ${tDiff}"  >
                                    <th th:text="${instance.key}"></th>
                                    <td th:each="i : ${#numbers.sequence(0, 2)}" th:text="${tDiff.get(instance.key)[i]}"></td>
                                </tr> 
                            </tbody>
                        </table>
                                                
                        <span id="under-x-scroll" />

                        <table class="table table-hover table-bordered"  style="display: none; background-color:rgba(230, 247, 255, 0.4); margin-top: 80px;"  id="under-x-append">
                            <thead>
                                <tr>
                                    <th>Under 'X'</th>
                                    <th>Transactions</th>
                                </tr>
                            </thead>
                            <tbody>             
                            </tbody>
                        </table>
                        <p id="under-disclaimer" style= "display:none;">*<i>The transactions are in-between 'x' &nbsp; ie: number of transactions for 'Under 4secs' are below 4 seconds and above 2 seconds</i></p>
                        <div id='under-x'></div>

                        <!--</div>-->
                    </article>
                </div>
            </div>
        </section>


        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>A_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='4' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[3]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='5' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[4]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='6' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[5]}' class='img-responsive'/>
                            </a>
                        </div>   
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='7' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[6]}' class='img-responsive'/>
                            </a>
                        </div>

                    </article>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>B_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='8' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[7]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='9' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[8]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='10' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[9]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='11' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[10]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>C_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='12' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[11]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='13' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[12]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='14' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[13]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='15' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[14]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>D_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='16' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[15]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='17' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[16]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='18' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[17]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='19' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[18]}' class='img-responsive'/>
                            </a>
                        </div>

                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>E_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='20' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[19]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='21' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[20]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='22' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[21]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='23' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[22]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>F_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='24' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[23]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='25' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[24]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='26' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[25]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='27' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[26]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>G_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='28' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[27]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='29' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[28]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='30' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[29]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='31' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[30]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>H_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='32' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[31]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='33' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[32]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='34' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[33]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='35' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[34]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>I_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='36' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[35]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='37' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[36]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='38' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[37]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='39' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[38]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>J_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='40' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[39]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='41' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[40]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='42' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[41]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='43' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[42]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <script src="js/jquery.js" th:src="@{js/jquery.js}"></script>
        <script src="js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
        <script src="js/ekko-lightbox.js"  th:src="@{js/ekko-lightbox.js}"></script>        
        <script src="js/pikaday.js"  th:src="@{js/pikaday.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var picker = new Pikaday(
            {
            showWeekNumber:true,
                    field: document.getElementById('datepicker'),
                    firstDay: 1,
                    minDate: new Date([[${year}]], [[${month}]], [[${day}]]),
                    maxDate: new Date([[${year1}]], [[${month1}]], [[${day1}]]),
                    yearRange: [2000, 2020],
                    bound: true,
                    container: document.getElementById('container'),
            });
            /*]]>*/
        </script>
        <script th:inline="javascript">
            function setRangePicker() {
            var startDate,
                    endDate,
                    updateStartDate = function () {
                    startPicker.setStartRange(startDate);
                    endPicker.setStartRange(startDate);
                    endPicker.setMinDate(startDate);
                    },
                    updateEndDate = function () {
                    startPicker.setEndRange(endDate);
                    startPicker.setMaxDate(endDate);
                    endPicker.setEndRange(endDate);
                    },
                    startPicker = new Pikaday({
                    field: document.getElementById('start'),
                            minDate: new Date([[${year}]], [[${month}]], [[${day}]]),
                            maxDate: new Date([[${year1}]], [[${month1}]], [[${day1}]]),
                            onSelect: function () {
                            startDate = this.getDate();
                            updateStartDate();
                            }
                    }),
                    endPicker = new Pikaday({
                    field: document.getElementById('end'),
                            minDate: new Date([[${year}]], [[${month}]], [[${day}]]),
                            maxDate: new Date([[${year1}]], [[${month1}]], [[${day1}]]),
                            onSelect: function () {
                            endDate = this.getDate();
                            updateEndDate();
                            }
                    }),
                    _startDate = startPicker.getDate(),
                    _endDate = endPicker.getDate();
            if (_startDate) {
            startDate = _startDate;
            updateStartDate();
            }
            if (_endDate) {
            endDate = _endDate;
            updateEndDate();
            }

            }
        </script>
        <script th:inline="javascript">
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
            });</script>

        <script src="${pageContext.request.contextPath}/js/app.js" th:src="@{js/app.js}"></script>

        <script th:inline="javascript">
            var contextRoot = /*[[@{/}]]*/ '';
        </script>


        <script th:inline = "javascript" > var contextRoot = /*[[@{/}]]*/ '';</script>


    </body>

</html>
