<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Print Chart</title>
         <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    </head>
    <body>
        <div>
            <img th:src='${image}' />
           
        </div>
    </body>
</html>
