<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Range View</title>
         <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
        <link href="//css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="//css/chartStyle.css" th:href="@{/css/chartStyle.css}" rel="stylesheet" />


        <style>
            img{
                margin-bottom: 10px;            
            }
            .table td {
                text-align: center;   
            }
            .table thead th{
                text-align:center;
            }
            h3{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="#">Prime Diagnostics</a>
                </div>
            </div>
        </nav>


        <!-- ******* IMAGE CREATION IS NOT IDEAL BUT BASE64 AND SPECIFIC WAYS ARE NEEDED FOR CROSS BROWSER OPERATION...STREAMING INSIDE OF HTTP RESPONSE IS QUICKER BUT CREATES GAPS 
        IN IMAGES AND IS UNSTABLE-->

       <section id="top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>All Transactions
                        </h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>

                        <div class='col-sm-4 portfolio-item'>
                            <a th:id='1' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[0]}' class='img-responsive'/>
                            </a>
                        </div>
                        <!--                                                <div class='col-sm-4 portfolio-item'>
                                                                            <a th:id='2' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                                                                <img th:src='${all[1]}' class='img-responsive'/>
                                                                            </a>
                                                                        </div>-->
                        <div class='col-sm-4 portfolio-item'>
                            <a th:id='2' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[1]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-4 portfolio-item'>
                            <a th:id='3' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[2]}' class='img-responsive'/>
                            </a>
                        </div>

                        <br />
                        <br />

                        <h3 style='padding-top:50px'> Average Response Times</h3>

                        <table  class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Source System</th>
                                    <th>Total Time(sec)</th>
                                    <th>Main(sec)</th>
                                    <th>Backend(sec)</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:each="instance : ${tDiff}"  >
                                    <th th:text="${instance.key}"></th>
                                    <td th:each="i : ${#numbers.sequence(0, 2)}" th:text="${tDiff.get(instance.key)[i]}"></td>
                                </tr> 
                            </tbody>
                        </table>
                                                
                       
                        <!--</div>-->
                    </article>
                </div>
            </div>
        </section>


        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>A_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='4' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[3]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='5' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[4]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='6' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[5]}' class='img-responsive'/>
                            </a>
                        </div>   
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='7' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[6]}' class='img-responsive'/>
                            </a>
                        </div>

                    </article>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>B_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='8' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[7]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='9' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[8]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='10' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[9]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='11' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[10]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>C_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='12' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[11]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='13' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[12]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='14' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[13]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='15' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[14]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>D_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='16' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[15]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='17' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[16]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='18' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[17]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='19' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[18]}' class='img-responsive'/>
                            </a>
                        </div>

                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>E_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='20' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[19]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='21' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[20]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='22' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[21]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='23' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[22]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>F_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='24' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[23]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='25' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[24]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='26' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[25]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='27' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[26]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>G_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='28' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[27]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='29' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[28]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='30' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[29]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='31' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[30]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>H_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='32' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[31]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='33' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[32]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='34' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[33]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='35' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[34]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>I_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='36' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[35]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='37' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[36]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='38' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[37]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='39' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[38]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>J_FAUX</h2>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <article>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='40' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[39]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='41' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[40]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='42' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[41]}' class='img-responsive'/>
                            </a>
                        </div>
                        <div class='col-sm-6 portfolio-item'>
                            <a th:id='43' href='#'  title='' data-toggle="lightbox" class="portfolio-link" data-gallery='portfolio'>
                                <img th:src='${all[42]}' class='img-responsive'/>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>





        <script src="js/jquery.js" th:src="@{/js/jquery.js}"></script>
        <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="js/ekko-lightbox.js"  th:src="@{/js/ekko-lightbox.js}"></script>        
        <!--        <script src="js/pikaday.js"  th:src="@{js/pikaday.js}"></script>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var picker = new Pikaday(
                    {
                    showWeekNumber:true,
                            field: document.getElementById('datepicker'),
                            firstDay: 1,
                            minDate: new Date([[${year}]], [[${month}]], [[${day}]]),
                            maxDate: new Date([[${year1}]], [[${month1}]], [[${day1}]]),
                            yearRange: [2000, 2020],
                            bound: true,
                            container: document.getElementById('container'),
                    });
                    /*]]>*/
                </script>
        -->




        <script th:inline="javascript">
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });</script>

        <script src="${pageContext.request.contextPath}/js/range.js" th:src="@{/js/range.js}"></script>

        <script th:inline="javascript">
            var contextRoot = /*[[@{/}]]*/ '';
        </script>


        <script th:inline = "javascript" > var contextRoot = /*[[@{/}]]*/ '';</script>


    </body>

</html>
